<ion-tabs>

  <ion-tab-bar slot="bottom" color="warning" >
    <ion-tab-button tab="tab1" >
      <ion-icon name="cart-outline" class="textoBlanco" ></ion-icon>
      <ion-label class="textoBlanco" >Venta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list-outline" class="textoBlanco" ></ion-icon>
      <ion-label class="textoBlanco" >Detalle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings-outline" class="textoBlanco" ></ion-icon>
      <!-- <ion-label></ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
