<ion-text  style="background-color: #0096ff;color:white" >
  <h5 style="text-align: center;" ><ion-icon (click)="cerrarModal()" style="position: absolute; left: 5%;" name="chevron-back-outline"></ion-icon>{{rutaSeleccionada}} 
    <ion-badge style="vertical-align: middle;color:white;" color="warning">{{horaSalida}}</ion-badge>
  </h5>
</ion-text>

<ion-content id="sillas"  color="medium" >
  <ion-grid>
    <ion-row>
      <ion-col (click)="seleccionarPiso();" class="seccionCabeceraPisos {{pisoseleccionado == 1 ? 'asientoseleccionado' : '' }}" style="margin-right: 3px;" >
        <div  >PISO 1</div>
      </ion-col>
      <ion-col (click)="seleccionarPiso();" class="seccionCabeceraPisos {{pisoseleccionado == 2 ? 'asientoseleccionado' : '' }}" style="margin-left: 3px;" >
        <div>PISO 2</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- modelo de 56 asientos -->


  <ion-list *ngIf="pisoseleccionado == 1 && cantidadAsientos == 56"  class="{{pisoseleccionado == 1 ? 'asientoseleccionado' : '' }}" >
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(1);" [ngStyle]="esAsientoUtilizado(1)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >1</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(2);" [ngStyle]="esAsientoUtilizado(2)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >2</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(3);" [ngStyle]="esAsientoUtilizado(3)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >3</span> 
      </span>
    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(4);" [ngStyle]="esAsientoUtilizado(4)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >4</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(5);" [ngStyle]="esAsientoUtilizado(5)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >5</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(6);" [ngStyle]="esAsientoUtilizado(6)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >6</span> 
      </span>
    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(7);" [ngStyle]="esAsientoUtilizado(7)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >7</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(8);" [ngStyle]="esAsientoUtilizado(8)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >8</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(9);" [ngStyle]="esAsientoUtilizado(9)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >9</span> 
      </span>
    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(10);" [ngStyle]="esAsientoUtilizado(10)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >10</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(11);" [ngStyle]="esAsientoUtilizado(11)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >11</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(12);" [ngStyle]="esAsientoUtilizado(12)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -4%;" >12</span> 
      </span>
    </ion-item>


  </ion-list>


  <ion-list *ngIf="pisoseleccionado == 2 && cantidadAsientos == 56"  class="{{pisoseleccionado == 2 ? 'asientoseleccionado' : '' }}" >

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(13);" [ngStyle]="esAsientoUtilizado(13)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >13</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(14);" [ngStyle]="esAsientoUtilizado(14)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >14</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(16);" [ngStyle]="esAsientoUtilizado(16)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >16</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(15);" [ngStyle]="esAsientoUtilizado(15)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >15</span> 
      </span>

    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(17);" [ngStyle]="esAsientoUtilizado(17)"  slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >17</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(18);" [ngStyle]="esAsientoUtilizado(18)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >18</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(19);" [ngStyle]="esAsientoUtilizado(19)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >19</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(20);" [ngStyle]="esAsientoUtilizado(20)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >20</span> 
      </span>

    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(21);" [ngStyle]="esAsientoUtilizado(21)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >21</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(22);" [ngStyle]="esAsientoUtilizado(22)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >22</span> 
      </span>

      <span class="escalera" slot="end" style="width: 50px; height: 50px; text-align: center;" >
      
      </span>
    </ion-item>
 

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(23);" [ngStyle]="esAsientoUtilizado(23)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >23</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(24);" [ngStyle]="esAsientoUtilizado(24)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >24</span> 
      </span>
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(25);" [ngStyle]="esAsientoUtilizado(25)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >25</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(26);" [ngStyle]="esAsientoUtilizado(26)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >26</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(28);" [ngStyle]="esAsientoUtilizado(28)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >28</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(27);" [ngStyle]="esAsientoUtilizado(27)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >27</span> 
      </span>
      
    </ion-item>


    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(29);" [ngStyle]="esAsientoUtilizado(29)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >29</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(30);" [ngStyle]="esAsientoUtilizado(30)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >30</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(32);" [ngStyle]="esAsientoUtilizado(32)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >32</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(31);" [ngStyle]="esAsientoUtilizado(31)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >31</span> 
      </span>
      
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(33);" [ngStyle]="esAsientoUtilizado(33)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >33</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(34);" [ngStyle]="esAsientoUtilizado(34)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >34</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(36);" [ngStyle]="esAsientoUtilizado(36)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >36</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(35);" [ngStyle]="esAsientoUtilizado(35)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >35</span> 
      </span>
      
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(37);" [ngStyle]="esAsientoUtilizado(37)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >37</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(38);" [ngStyle]="esAsientoUtilizado(38)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >38</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(40);" [ngStyle]="esAsientoUtilizado(40)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >40</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(39);" [ngStyle]="esAsientoUtilizado(39)"  slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >39</span> 
      </span>
      
    </ion-item>


  
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(41);" [ngStyle]="esAsientoUtilizado(41)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >41</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(42);" [ngStyle]="esAsientoUtilizado(42)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >42</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(44);" [ngStyle]="esAsientoUtilizado(44)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >44</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(43);" [ngStyle]="esAsientoUtilizado(43)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >43</span> 
      </span>
      
    </ion-item>




  
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(45);" [ngStyle]="esAsientoUtilizado(45)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >45</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(46);" [ngStyle]="esAsientoUtilizado(46)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >46</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(48);" [ngStyle]="esAsientoUtilizado(48)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >48</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(47);" [ngStyle]="esAsientoUtilizado(47)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >47</span> 
      </span>
      
    </ion-item>


  
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(49);" [ngStyle]="esAsientoUtilizado(49)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >49</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(50);" [ngStyle]="esAsientoUtilizado(50)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >50</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(52);" [ngStyle]="esAsientoUtilizado(52)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >52</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(51);" [ngStyle]="esAsientoUtilizado(51)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >51</span> 
      </span>
      
    </ion-item>


    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(53);" [ngStyle]="esAsientoUtilizado(53)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >53</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(54);"  [ngStyle]="esAsientoUtilizado(54)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >54</span> 
      </span>

      <span class="banio" slot="end" style="width: 50px; height: 50px; text-align: center;" >
      </span>

    </ion-item>


    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(55);" [ngStyle]="esAsientoUtilizado(55)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >55</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(56);" [ngStyle]="esAsientoUtilizado(56)"  slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >56</span> 
      </span>
    </ion-item>

  </ion-list>


  <!-- modelo de 60 asientos -->

  <ion-list *ngIf="pisoseleccionado == 1 && cantidadAsientos == 60"  class="{{pisoseleccionado == 1 ? 'asientoseleccionado' : '' }}" >
    <ion-item style="padding-top: 10px !important;" >
      <span 
      class="asiento" 
      (click)="abrirVentanaVenta(1);" 
      slot="start" 
      [ngStyle]="esAsientoUtilizado(1)"
      style="width: 50px; height: 50px; text-align: center;"
     >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >1</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(2);"  [ngStyle]="esAsientoUtilizado(2)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >2</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(3);" [ngStyle]="esAsientoUtilizado(3)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >3</span> 
      </span>
    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(4);" [ngStyle]="esAsientoUtilizado(4)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >4</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(5);" [ngStyle]="esAsientoUtilizado(5)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >5</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(6);" [ngStyle]="esAsientoUtilizado(6)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >6</span> 
      </span>
    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(7);" [ngStyle]="esAsientoUtilizado(7)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >7</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(8);" [ngStyle]="esAsientoUtilizado(8)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >8</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(9);" [ngStyle]="esAsientoUtilizado(9)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >9</span> 
      </span>
    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(10);" [ngStyle]="esAsientoUtilizado(10)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >10</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(11);" [ngStyle]="esAsientoUtilizado(11)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >11</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(12);" [ngStyle]="esAsientoUtilizado(12)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -4%;" >12</span> 
      </span>
    </ion-item>


  </ion-list>


  <ion-list *ngIf="pisoseleccionado == 2 && cantidadAsientos == 60"  class="{{pisoseleccionado == 2 ? 'asientoseleccionado' : '' }}" >

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(13);" [ngStyle]="esAsientoUtilizado(13)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >13</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(14);" [ngStyle]="esAsientoUtilizado(14)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >14</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(16);" [ngStyle]="esAsientoUtilizado(16)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >16</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(15);" [ngStyle]="esAsientoUtilizado(15)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >15</span> 
      </span>

    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(17);" [ngStyle]="esAsientoUtilizado(17)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >17</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(18);" [ngStyle]="esAsientoUtilizado(18)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >18</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(19);" [ngStyle]="esAsientoUtilizado(19)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >19</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(20);" [ngStyle]="esAsientoUtilizado(20)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >20</span> 
      </span>

    </ion-item>

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(21);" [ngStyle]="esAsientoUtilizado(21)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >21</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(22);" [ngStyle]="esAsientoUtilizado(22)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >22</span> 
      </span>

      <span class="escalera" slot="end" style="width: 50px; height: 50px; text-align: center;" >
      
      </span>
    </ion-item>
 

    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(23);" [ngStyle]="esAsientoUtilizado(23)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >23</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(24);" [ngStyle]="esAsientoUtilizado(24)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >24</span> 
      </span>
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(25);" [ngStyle]="esAsientoUtilizado(25)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >25</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(26);" [ngStyle]="esAsientoUtilizado(26)"  slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >26</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(28);" [ngStyle]="esAsientoUtilizado(28)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >28</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(27);" [ngStyle]="esAsientoUtilizado(27)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >27</span> 
      </span>
      
    </ion-item>


    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(29);" [ngStyle]="esAsientoUtilizado(29)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >29</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(30);" [ngStyle]="esAsientoUtilizado(30)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >30</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(32);" [ngStyle]="esAsientoUtilizado(32)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >32</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(31);" [ngStyle]="esAsientoUtilizado(31)"  slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >31</span> 
      </span>
      
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(33);" [ngStyle]="esAsientoUtilizado(33)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >33</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(34);" [ngStyle]="esAsientoUtilizado(34)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >34</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(36);" [ngStyle]="esAsientoUtilizado(36)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >36</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(35);" [ngStyle]="esAsientoUtilizado(35)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >35</span> 
      </span>
      
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(37);" [ngStyle]="esAsientoUtilizado(37)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >37</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(38);" [ngStyle]="esAsientoUtilizado(38)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >38</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(40);" [ngStyle]="esAsientoUtilizado(40)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >40</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(39);" [ngStyle]="esAsientoUtilizado(39)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >39</span> 
      </span>
      
    </ion-item>


  
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(41);" [ngStyle]="esAsientoUtilizado(41)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >41</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(42);" [ngStyle]="esAsientoUtilizado(42)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >42</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(44);" [ngStyle]="esAsientoUtilizado(44)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >44</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(43);" [ngStyle]="esAsientoUtilizado(43)"  slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >43</span> 
      </span>
      
    </ion-item>




  
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(45);"  [ngStyle]="esAsientoUtilizado(45)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >45</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(46);" [ngStyle]="esAsientoUtilizado(46)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >46</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(48);" [ngStyle]="esAsientoUtilizado(48)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >48</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(47);" [ngStyle]="esAsientoUtilizado(47)"  slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >47</span> 
      </span>
      
    </ion-item>


  
    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(49);" [ngStyle]="esAsientoUtilizado(49)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >49</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(50);" [ngStyle]="esAsientoUtilizado(50)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >50</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(52);" [ngStyle]="esAsientoUtilizado(52)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >52</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(51);"  [ngStyle]="esAsientoUtilizado(51)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >51</span> 
      </span>
      
    </ion-item>


    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(53);" [ngStyle]="esAsientoUtilizado(53)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >53</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(54);" [ngStyle]="esAsientoUtilizado(54)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >54</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(56);" [ngStyle]="esAsientoUtilizado(56)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >56</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(55);" [ngStyle]="esAsientoUtilizado(55)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >55</span> 
      </span>
      
    </ion-item>



    <ion-item style="padding-top: 10px !important;" >
      <span class="asiento" (click)="abrirVentanaVenta(57);" [ngStyle]="esAsientoUtilizado(57)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >57</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(58);" [ngStyle]="esAsientoUtilizado(58)" slot="start" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -2.5%;" >58</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(60);" [ngStyle]="esAsientoUtilizado(60)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >60</span> 
      </span>

      <span class="asiento" (click)="abrirVentanaVenta(59);" [ngStyle]="esAsientoUtilizado(59)" slot="end" style="width: 50px; height: 50px; text-align: center;" >
        <span style="position: absolute; top: 18px; font-weight: bold;margin-left: -5%;" >59</span> 
      </span>
      
    </ion-item>

  </ion-list>
</ion-content>
