ion-content {
    --background: none;
    background-image: url('/assets/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-center{
    text-align: center;
}


.pagina_centrada{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    --background: none;
    background-image: url('/assets/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
